---
import Layout from '../layouts/Layout.astro';
// import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	HOME<br>
	<a href="/tags">タグ一覧へ</a>
</Layout>

<style>
</style>
